// $black: #332F3E;
// $light-green: #80C8B5;
// $dark-green: #4DB788;
// $yellow: #E6C973;

header {
  position: fixed;
}

body {
  background-image: url('/gplaypattern.png');
}

main {
  margin-top: 56px;
}

.logo {
  background: url('/icons/logo.png');
  text-shadow: white 0px 0px 2px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 122.5px;
  height: 27.5px;
}

.mdl-card__title {
  margin-left: auto;
  margin-right: auto;
}

.time-section {
  height: 30px;
  margin-left: auto;
  margin-right: auto;

  .time {
    vertical-align: top;
    font-size: 24px;
    line-height: 24px;
  }
}

.card-type {
  font-size: 12px;
  color: rgba(0,0,0,0.2);
  font-style: italic;
  margin-left: 10px;
  position: absolute;
  left: 0px;
}

.mdl-card__actions {
  height: 64px;
  text-align: center;
}

.mdl-card__title-text {
  font-family: 'Damion', cursive;
}

.material-icons.md-64 { font-size: 64px; }

.mdl-layout__header-row {
  padding-left: 10px;
  padding-right: 10px;
}

.icon {
  display: inline-block;
  background-size: 100%;
  width: 64px;
  height: 64px;

  &.tram {
    background-image: url('/icons/tram.png');
  }

  &.helmet {
    background-image: url('/icons/helmet.png');
  }
}

.mdl-layout-title {
  color: black;
}

.mdl-button {
  color: #fff;
  background-color: rgba(0,0,0, 0.12);

  &.inactive {
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  }


  &:hover {
    background-color: rgba(0,0,0, 0.12);
  }
}

.mdl-card {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

main {
  margin-bottom: 30px;
}

footer {
  z-index: 2;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  box-shadow: 0 -2px 2px 0 rgba(0,0,0,.14),0 -3px 1px -2px rgba(0,0,0,.2),0 -1px 5px 0 rgba(0,0,0,.12);
  text-align: middle;

  .text {
    text-align: middle;
    width: 100%;
  }

  .heart {
    font-size: 20px;
    color: rgb(255,255,0);
  }
}

.mdl-mini-footer {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: rgb(33,150,243);
  height:30px;
  padding: 10px;
}
