.logo {
  background: url('/icons/bus-small-yellow.png');
  height: 32px;
  width: 32px;
}

.mdl-layout-title {
  color: black;
}
.zucko {
  color: #FFFF00;
}

.mdl-card {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
