<style type='text/css'>
  .mdl-card {
    overflow: visible;
  }
  .ribbon {
    background-color: rgb(33,150,243);
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    left: -10px;
    top: 150px;
    /* 45 deg ccw rotation */
    /* shadow */
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
  }
  .ribbon span {
    color: #fff;
    display: block;
    margin: 1px 0;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 5px #444;
  }
</style>
<div class="demo-card-wide mdl-card mdl-shadow--2dp" id="<%= defined?(id) ? id : "" %>">
  <div class='ribbon'>
    <span><%= title %></span>
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <%= departure.humanized_route_type %>
    </h2>
  </div>
  <div class="time-section">
    <i class="material-icons">query_builder</i>
    <span class="time"><%= departure.time_humanized %></span>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <div class='icons'>
      <% if departure.ljubljanica? %>
        <div class='icon tram'></div>
      <% end %>

      <% if departure.novaki? %>
        <i class='material-icons md-64'>directions_bike</i>
      <% end %>

      <% if departure.kerestinec? %>
        <i class='material-icons md-64'>directions_boat</i>
      <% end %>

      <% if departure.fast? %>
        <div class='icon helmet'></div>
      <% end %>
    </div>
  </div>
</div>
