<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><span class="zucko">Zucko</span></span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a class="mdl-button <%= @presenter.for_zagreb? ? "mdl-button--raised mdl-button--accent mdl-button--is-active" : "" %>" href="/za/zagreb">
        za Zagreb
      </a>

      <a class="mdl-button <%= @presenter.for_samobor? ? "mdl-button--raised mdl-button--accent mdl-button--is-active" : "" %>" href="/za/samobor">
        za Samobor
      </a>
    </nav>
  </div>
</header>
