<header class="mdl-layout__header">
  <div class="mdl-layout-icon"><div class="logo"></div></div>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><span class="zucko">Zucko</span></span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <button class="mdl-button mdl-button--raised mdl-button--accent mdl-button--is-active">
        za Zagreb
      </button>

      <button class="mdl-button ">
        za Samobor
      </button>
    </nav>
  </div>
</header>
