<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zucko</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
    <!-- Font Awesome -->
  
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  
  <!--jquery-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>   
    <![endif]-->


<script type="text/javascript">
    $(document).ready(function(){
      $('.icon-long-arrow-right').click(function(){
        $(this).replaceWith('<i class="icon-long-arrow-left icon-4x"></i>');
      });
    });
 
</script>
<style type="text/css">
    .img-circle {
      width: 50px;
      height: 50px;
    }


    .icon-4x {
      margin-top: 150px;
    }

    .list-group-item {
      height: ;
    }

    .blue {
      background-color: blue;
    }

   

  </style>
  </head>  
  <body>
  <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a href="#" class="navbar-brand">Zucko</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
            </button>
        <div class="collapse navbar-collapse navHeaderCollapse"> 
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a>
                <li><a href="#contact" data-toggle="modal">Contact</a>
              </ul>
        </div>
      </div>
    </div> 


     <div class="container">
      <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
            <div class="panel-body">
              <div class="page-header">
                <h3> Odaberi smjer</h3>
              </div>
              <div class="img-page-body page-body text-center">
              <div class="col-md-4 col-xs-4">
                <img class="img-circle pull-right" id="samobor" src="http://i1154.photobucket.com/albums/p522/tonkec/samoborgif_zps9e95d178.gif">
              </div>
              <div class="col-md-4 col-xs-4">
                <i class="icon-long-arrow-right icon-4x"></i>
              </div>
              <div class="col-md-4 col-xs-4">
                <img class="img-circle pull-left" id="zagreb" src="http://i1154.photobucket.com/albums/p522/tonkec/Zagreb_grb_zpsecf427fe.gif">
               </div>
              </div>
            </div>
          </div>
          </div>
          
        <div class="col-lg-3">
          <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">Smjerovi </h4>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Samobor- Zagreb (A.K.) </h4>
          </a>
           <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Samobor- Ljubljanica </h4>
          </a>
           <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Samobor- Črnomerec</h4>
          </a>
        </div><!--col-lg-3-->
        </div>

        </div>
      </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        
        <div class="col-md-4">
          <div class="page-header">
            <h4>Prosli busek</h4>
          </div>
          <div class="page-body">
            <h5>Otisao prije 10 minuta</h5>
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="page-header">
            <h4>Trenutni busek</h4>
        </div>
          <div class="page-body">
            <h5> Polazi za 10 minuta </h5>
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="page-header">
            <h4>Sljedeci busek</h4>
          </div>
          <div class="page-body">
            <h5>Polazi za 20 minuta</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

 </body>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>﻿

</html>