<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" type="text/css" href="/style.css"/>
     <script src="/javascripts.js"></script>
     <title>Zucko</title>
  </head>  
  <body>
    <ul>
    <% @buses.each do |bus| %>
      <li>
        <%= bus.time_humanized %>
      </li>
    <% end %>
    </ul>
  </body>
</html>
