<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zucko</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
    <!-- Font Awesome -->
  
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>   
    <![endif]-->
      <!--zucko-css-->
     <link rel="stylesheet" type="text/css" href="/style.css">
      <!--zucko-jquery-->
     <script src="/javascripts.js"></script>

  </style>
  </head>  
  <body>
     <div class="container">
      <div class="row">
		    <div class="panel-heading">
          
          <div class="col-md-4">
            <i class="btn btn-default icon-long-arrow-left icon-3x pull-right"></i>
          </div>
          
          <div class="col-md-4 text-center direction">
            <h1> Samobor - Zagreb </h1>
          </div>
          
          <div class="col-md-4"> 
            <i class="btn btn-default icon-long-arrow-right icon-3x pull-left"></i>      
          </div>

        </div><!--panel-heading-->

        <div class="panel-body">
            <div class="col-lg-4 col-md-4 col-xs-4">
              <img class="img-circle pull-right" src="http://i1154.photobucket.com/albums/p522/tonkec/samoborgif_zps9e95d178.gif">
            </div>
              
            <div class="col-lg-4 col-md-4 col-xs-4 col-arr">
					    <img class="img-bus" src="http://www.clker.com/cliparts/B/x/h/S/j/W/yellow-school-bus-hi.png">
            </div>
              
            <div class="col-lg-4 col-md-4 col-xs-4">
              <img class="img-circle pull-left" src="http://i1154.photobucket.com/albums/p522/tonkec/Zagreb_grb_zpsecf427fe.gif">
            </div>

            </div><!-- panel body-->
          </div><!--row-->
        </div><!--container--> 

</body>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>﻿
<!-- include Cycle plugin -->
<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>

</html>
