<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zucko</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
    <!-- Font Awesome -->
  
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>   
    <![endif]-->
    <style type="text/css">
body {
   background-color: #ADD8E6;
}

.img-circle {
  height: 70px;
  width: 70px; 
}

.img-col {
  padding-bottom: 100px;
  text-align: center;
}

.img-container {
	padding-top: 50px;
}

.nav-col {
	padding-left: 170px;
}
nav {
  width: 350px;
}

.navbar {
  border: none;
  box-shadow: none;
}

.navbar-collapse {
  background-color:#3090C7;
}

.navbar-header {
	background-color:#3090C7;
}

.navbar-toggle {
	background-color: white;
}

header {
  background-color: #3090C7;
}

li>a {
  font-size: 15px;
}

span {
  color: white;
}
  </style>
  </head>
  <body>
  <header class="navbar"> 
  <div class="container">
   <nav class="navbar navbar-default" role="navigation">
 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span><b>Zucko</b></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><span>Prosli</span></a></li>
        <li><a href="#"><span>Trenutni</span></a></li>
        <li><a href="#"><span>Sljedeci</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
 </div>
</header>
  
   <div class="img-container container">
   <div class="col-md-3"></div>
   <div class="img-col col-md-6">
     <img src="http://i1154.photobucket.com/albums/p522/tonkec/samoborgif_zps9e95d178.gif" class="img-circle" id="samobor">
   <i class="icon-long-arrow-right icon-4x"></i>
   <img src="http://i1154.photobucket.com/albums/p522/tonkec/Zagreb_grb_zpsecf427fe.gif" class="img-circle" id="zagreb">
    </div>
   
    <div class="col-md-3"></div>
    </div>

<div class="container">
  <div class="col-md-4 col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Prosli busek</h3>
      </div>
    <div class="panel-body">
    Otisao prije 10 minuta
    </div>
   </div>
  </div>
   
  <div class="col-md-4 col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sadasnji busek</h3>
      </div>
    <div class="panel-body">
    Polazi za 10 minuta
    </div>
   </div>
  </div>

  <div class="col-md-4 col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sljedeci busek</h3>
      </div>
    <div class="panel-body">
    Polazi za 20 minuta
    </div>
   </div>
  </div>
</div> <!-- container -->

 </body>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>﻿
</html>