<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/material-design/material.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue-yellow.min.css" /> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zucko</title>
  </head>
  <body>
    <div class='mdl-layout mdl-js-layout mdl-layout--fixed-header'>
      <%= erb :header %> 

      <main class="mdl-layout__content">
        <div class='page-content'>
          <%= erb :card, locals: {title: "Prethodni bus", departure: @presenter.departures[:previous]}%>
          <%= erb :card, locals: {title: "Trenutni bus", departure: @presenter.departures[:current]}%>
          <%= erb :card, locals: {title: "Sljedeci bus", departure: @presenter.departures[:next]}%>
        </div>
      </main>
    </div>
  </body>
</html>
