<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zucko</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
    <!-- Font Awesome -->
  
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  
  <!--jquery-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>   
    <![endif]-->


<script type="text/javascript">
   $(document).ready(function(){
      $( "i" ).click(function() {
		    $('.direction').toggle();
        $('.img-circle').toggle();
		  });
    });
 
</script>
<style type="text/css">
  .img-circle {
      width: 50px;
      height: 50px;
      border: 4px solid;
      border-color: #FFBF00;
    }
    
	body {
		background-color: #FFBF00;	
	}
    
  .panel {
		background-color: #222222;	
	  padding-top: 70px;
  }
	
		
  span {
		color: #FFBF00;
	}

  .departure {
    margin-top: 100px;
  }

  img {
    height: 50px;
    width: 70px;
  }

  .btn-default, .btn:hover  {
   background-color: #222222;
   background-image: none; 
   color: #FFBF00;
   border: none;
   box-shadow: none;
  }

  </style>
  </head>  
  <body>
	 
  <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a href="#" class="navbar-brand"><span>Zucko</span></a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
            </button>
        <div class="collapse navbar-collapse navHeaderCollapse"> 
              <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#"><span>Home</span></a>
                <li><a href="#contact" data-toggle="modal"><span>Contact</span></a>
              </ul>
        </div>
      </div>
    </div> 

     <div class="container">
      <div class="row">
        
            <div class="panel">
		          <div class="panel-heading text-center">
                <div class="row" >
                <h1 style="display: inline-block"> 
                  <span>Odaberi smjer<span> 
                  <small class="direction text-muted">Samobor - Zagreb </small>
                  <small class="direction text-muted" style="display: none">  Zagreb - Samobor</small>
                </h1>
              </div>
              </div>

            <div class="panel-body text-center">
            
              <div class="container">
                <div class="col-md-4 col-xs-3">
                  <img class="img-circle pull-right" id="samobor" src="http://i1154.photobucket.com/albums/p522/tonkec/samoborgif_zps9e95d178.gif">
                  <img class="img-circle pull-right" id="zagreb" src="http://i1154.photobucket.com/albums/p522/tonkec/Zagreb_grb_zpsecf427fe.gif" style="display: none">
                </div>
              
                <div class="col-md-4 col-arr col-xs-6">
					       <i class="btn btn-default icon-long-arrow-right icon-4x"></i>
                </div>
              
                <div class="col-md-4 col-xs-3">
                  <img class="img-circle pull-left" id="zagreb" src="http://i1154.photobucket.com/albums/p522/tonkec/Zagreb_grb_zpsecf427fe.gif">
                   <img class="img-circle pull-left" id="samobor" src="http://i1154.photobucket.com/albums/p522/tonkec/samoborgif_zps9e95d178.gif" style="display: none">
                </div>
              </div><!--container-->
               
				        
                <div class="col-md-4 departure">
				          <div class="page-header">
                    <h3><span>Prosli busek</span></h3>
                  </div>
				          <div class="panel-body pull-left">
				            <h4 class="text-muted">Otisao prije 20 minuta</h4>
				          </div>
                  <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR0fJ9q8vb8l8CfzmnTEHtpOUcCB-tWtG3A671KP71e2ioH47Fyhh_JcGk">
			          </div>
				
				        <div class="col-md-4 departure">
                  <div class="page-header">
                    <h3><span>Trenutni busek</span></h3>
                  </div>
                  <div class="panel-body pull-left">
                    <h4 class="text-muted">Otisao prije 10 minuta</h4>
                  </div>
                   <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR0fJ9q8vb8l8CfzmnTEHtpOUcCB-tWtG3A671KP71e2ioH47Fyhh_JcGk">
                </div>
				
				        <div class="col-md-4 departure">
                  <div class="page-header">
                    <h3><span>Sljedeci busek</span></h3>
                  </div>
                  <div class="panel-body pull-left">
                    <h4 class="text-muted">Polazi za 10 minuta</h4>
                  </div>
                   <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR0fJ9q8vb8l8CfzmnTEHtpOUcCB-tWtG3A671KP71e2ioH47Fyhh_JcGk">
                </div>

              
			     </div><!--panel-body-->
			   </div><!--panel-->
	
  </div><!--row-->
</div><!--container-->

 </body>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>﻿

</html>
