body {
  background-color: #222222;
  background-image: none; 
  color: white;
}

.img-circle {
  height: 80px;
  width: 50px;
  max-width: 80px;
  max-height: 50px;
}

.btn-default, .btn, .btn-default:hover {
  background-image: none;
  background-color: blue;
  border: none;
  box-shadow: none;
}

.btn-default, .icon-3x {
  max-width: 60px;  
  max-height: 50px;
}

.img-bus {  
  position: absolute;
  max-width: 50px;
  max-height: 30px;
}

.col-bus {
  padding-top: 25px;
  padding-right: 70px;
}

.img-flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

h4 {
  color:green;
}